---
import Button from "@/components/ui/button.astro";
import type { Locale } from "@/i18n/locales";
import { getTranslations } from "@/i18n/translations";
import Layout from "@/layouts/main.astro";

const locale = Astro.params.locale as Locale | undefined;
const t = getTranslations(locale);
---

<Layout title={t.notFound.title}>
  <div class="flex h-full flex-col items-center justify-center gap-4 py-32">
    <div class="flex flex-col items-center justify-center">
      <p class="text-muted-foreground text-xl">{t.notFound.message}</p>
    </div>
    <Button variant="ghost" class="active:scale-90 active:bg-accent">
      <a
        data-astro-prefetch
        href="/fr"
        class="text-lg"
        onclick="history.back(); return false;"
        >{t.notFound.goBack}</a
      >
    </Button>
  </div>
</Layout>
