---
import Button from "@/components/ui/button.astro";
import { stripLocaleFromPath } from "@/i18n/utils";
import { cn } from "@/lib/utils";

type LinkItem = {
  title: string;
  href: string;
  hidden: boolean;
  target?: string;
};

type Props = {
  link: LinkItem;
};

const { link } = Astro.props;
const pathname = Astro.url.pathname;

const normalizedPathname = stripLocaleFromPath(pathname);
const normalizedHref = stripLocaleFromPath(link.href);

const isActive =
  (normalizedPathname.startsWith(normalizedHref) && normalizedHref !== "/") ||
  normalizedPathname === normalizedHref ||
  (normalizedHref === "/" && normalizedPathname === "");
---

{
    !link.hidden && (
        <div>
            <Button
                variant="ghost"
                class={cn(
                    "transition-transform active:scale-90",
                    isActive
                        ? "bg-accent dark:bg-accent/50"
                        : "text-foreground/60",
                )}
            >
                <a
                    class="font-medium text-base transition-colors"
                    href={link.href}
                    target={link.target}
                >
                    {link.title}
                </a>
            </Button>
        </div>
    )
}
