---
import { type CollectionEntry, getCollection } from "astro:content";
import PageviewCounter from "@/components/page-view-counter.svelte";
import { defaultLocale, type Locale } from "@/i18n/locales";
import { getBlogEntry } from "@/i18n/utils";
import Layout from "@/layouts/layout.astro";

const locale = Astro.params.locale as Locale | undefined;

export async function getStaticPaths() {
  const blogEntry = getBlogEntry(locale ?? defaultLocale);
  const posts = await getCollection(blogEntry);
  return posts.map((entry) => ({
    params: { slug: entry.slug, locale: locale ?? defaultLocale },
    props: { post: entry },
  }));
}

type Props = {
  post: CollectionEntry<"blog-fr">;
};

const { post } = Astro.props;
const { Content } = await post.render();

export const prerender = true;
---

<Layout
  title={`${post.data.title} | Alexandre Trotel`}
  description={post.data.description}
>
  <article class="mx-auto max-w-3xl">
    <div class="prose prose-gray dark:prose-invert max-w-none">
      <PageviewCounter slug={`fr:${post.slug}`} client:load/>
      <Content/>
    </div>
  </article>
</Layout>
