---
import { type CollectionEntry, getCollection } from "astro:content";
import PageviewCounter from "@/components/page-view-counter.svelte";
import { defaultLocale, type Locale, locales } from "@/i18n/locales";
import { getBlogEntry } from "@/i18n/utils";
import Layout from "@/layouts/layout.astro";

export async function getStaticPaths() {
  const paths: { params: { slug: string; locale: Locale } }[] = [];
  for (const locale of locales) {
    const blogEntry = getBlogEntry(locale ?? defaultLocale);
    const posts = await getCollection(blogEntry);
    for (const _post of posts) {
      paths.push({
        params: { slug: _post.slug, locale: locale ?? defaultLocale },
      });
    }
  }
  return paths;
}

type Props = {
  post: CollectionEntry<"blog-fr">;
};

const { post } = Astro.props;
const { Content } = await post.render();

export const prerender = true;
---

<Layout
  title={`${post.data.title} | Alexandre Trotel`}
  description={post.data.description}
>
  <article class="mx-auto max-w-3xl">
    <div class="prose prose-gray dark:prose-invert max-w-none">
      <PageviewCounter slug={`fr:${post.slug}`} client:load/>
      <Content/>
    </div>
  </article>
</Layout>
